GD_03_AVALUACIO/GD_ACME/GD_CodeCesar/*
GD_03_AVALUACIO/GM_ACME/GD_CodeShareACME.zip
GD_03_AVALUACIO/GD_ExemplesEntregues/GD_EntregaProblemes01.zip
GD_03_AVALUACIO/GD_ExemplesEntregues/GD_EntregaProblemes02.zip
GD_03_AVALUACIO/GD_ExemplesEntregues/GD_EntregaSeminaris01.zip
GD_03_AVALUACIO/GD_ExemplesEntregues/GD_EntregaSeminaris02.zip 
GD_01_TEORIA/*.mp4
GD_02_PROBLEMES/GD_ResolucioProblemesVideo/*.mp4
GD_03_AVALUACIO/*.mp4
GD_04_SEMINARIS/*.mp4
.READMEOriginal.md
.GD_Unitat_Notes
#./GD_01_TEORIA/*.zip
#./GD_02_PROBLEMES/*.zip
#./GD_03_AVALUACIO/*.zip
#./GD_04_SEMINARIS/*.zip
.588d55faa08b36e831d2f303b51a8716CrackExamsWithBash.md
# Broma pel lector
GD_03_AVALUACIO/.GD_Noticies/*
.*cook*
*/GD_UnitatsVideoMesManuscritsTeoria/*.zip
